<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render 'shared/admin_navbar' %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2>My Events</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Start At</th>
              <th>Status</th>
              <th>Revenue</th>
            </tr>
          </thead>
          <tbody>
          <% @events.each_with_index do |event, index| %>
          <tr>
            <td> <%= index %> </td>
            <td> <%= link_to event.name, admin_event_path(event) %> </td>
            <td> <%= event.starts_at %> </td>
            <td> <%= event.status %> </td>
            <td> <%= vnd(0) %> </td>
          </tr>
          <% end %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>