<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render 'shared/admin_navbar' %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2>All Venues</h2>
      <%= link_to 'New venue', new_admin_venue_path %>
      
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Address</th>
              <th>Region</th>
            </tr>
          </thead>
          <tbody>
          <% @venues.each_with_index do |venue, index| %>
          <tr>
            <td> <%= index %> </td>
            <td> <%= venue.name %> </td>
            <td> <%= venue.full_address %> </td>
            <td> <%= venue.region.name %> </td>
          </tr>
          <% end %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>